.simple-faq-accordion {
	width: 100%;
}

.simple-faq-accordion .ui-accordion-header {
	background:#227fbb url(../images/plus_icon_blue.png) no-repeat left top;
	background:  url(../images/plus_icon_blue.png) no-repeat left top, -webkit-linear-gradient(#227fbb, #2d96de);
	background:  url(../images/plus_icon_blue.png) no-repeat left top, -moz-linear-gradient(#227fbb, #2d96de);
	background:  url(../images/plus_icon_blue.png) no-repeat left top, -o-linear-gradient(#227fbb, #2d96de);
	background:  url(../images/plus_icon_blue.png) no-repeat left top, linear-gradient(#227fbb, #2d96de);
	color: #FFF;
	border-radius: 3px;
	border: 1px solid #227fbb;
	padding: 8px 0px 8px 45px;
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: 600;
}

.simple-faq-accordion .ui-accordion-content {
	background-color: #FFF;
	color: #555;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #eaeaea;
	padding: 5px 0px 5px 10px;
	font-size: 14px;
}


ul.simple-faq-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.simple-faq-list li{
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	margin: 10px 0 0;
	font-size:14px;
}
.simple-faqs-bookmarks a, .simple-faqs-bookmarks a:hover {
	text-decoration: none;
}

.simple-faqs-bookmarks h3 {
	line-height: 1.4;
	padding: 20px 0 0;
	margin: 0;
}
ul.simple-faq-list li.simple-faq-item h3{
	border-bottom: 1px solid #ddd;
	margin: 5px 10px 5px 0px;
	background: #f4f4f4 url(../images/simple_Q_icon_blue.png) no-repeat left center;
	padding: 10px 5px 10px 40px;
	font-size: 16px;
	color: #227fbb;
	border-radius: 30px 0px 0px 30px;
}
a.simple-faq-item {
	background:#f4f4f4 url(../images/bookmark_icon_blue.png) no-repeat left center;
	padding: 0px 10px 0px 40px;
	margin: 8px 0px 8px 0px;
	border-bottom: none;
	color: #227fbb;
}
.simple-faqs-bookmarks {
	font-size: 14px;
	color: #555;
}
.simple-faqs-bookmarks h3 {
	font-size:16px;
	background:url(../images/bookmark_heading_icon_blue.png) no-repeat left center;
	padding: 10px 5px 5px 40px;
	color: #227fbb;
}